<!-- Ohne ng-bootsrap -->

<!-- <div class="card">
    <div class="card-header" (click)="onSelected()" style="cursor: pointer;">
        {{supplier.name}}
    </div>
    <div class="card-body" [ngClass]="{'hidden': hideBody }">
      <h5 class="card-title">{{supplier.name}}</h5>
      <p class="card-text">{{supplier.type}}</p>
    </div>
</div> -->

<ngb-accordion [closeOthers]="true" activeIds="toggle-1" #acc="ngbAccordion">
    <ngb-panel id="toggle-{{index+1}}" *ngFor="let supplier of suppliers; let index = index">
        <ng-template ngbPanelHeader>
            <div (click)="acc.toggle('toggle-'+(index+1))"  style="cursor: pointer;">
                <span> <b>{{supplier.name}}</b></span>
                <img class="panelImg" [src]="supplier.photos" [alt]="supplier.name">
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-md-6">
                    <p>{{supplier.address}}</p>
                    <p>{{supplier.email}}</p>
                    <p>{{supplier.phoneNumber}}</p>
                    <a [href]="supplier.homepageUrl">Homepage</a>
                </div>
                <div  class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.3433806980293!2d16.37475951570904!3d48.219262179230014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07a5f088dddd%3A0x90f5f684d3ffb483!2sPizza%20Mari!5e0!3m2!1sen!2sat!4v1596627028611!5m2!1sen!2sat" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>