<div class="container py-4 shadow" [hidden]="this.signupService.signedUp">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-3">Join our SkipDiving community!</h1>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 offset-2">
          <h2 class="lead">Are you a food supplier? (supermarket, restaurant, etc..)</h2>
        </div>
        <div class="col-md-2">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose..
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="supplier">Yes</a>
              <a class="dropdown-item" routerLink="user">No</a>
            </div>
          </div>      
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container pt-5 shadow" [hidden]="!this.signupService.signedUp">
  <div class="row">
    <div class="col-md-5 mx-auto text-center">
      
      <h1 class="display-1">Thanks for joining our Community!</h1>
      <button class="btn btn-primary" type="button" (click)="this.signupService.onSignOut()" routerLink="/">Start Browsing</button>
    </div>
  </div>
</div>
