<div class="card">
  <div class="card-header">
    Currently available Offers
  </div>
  <div class="card-body">
    <div>
      <div class="row">
        <div class="col-md-6">
        </div>
      </div>
      <div *ngFor="let offer of offers; let index = index">
        <div *ngIf="offer.amount_remaining > 0; else elseBlock" class="row card-text">
          <div class="col-md6">
            <p>{{offer.amount_offered}} out of {{offer.amount_remaining}} Meals remain</p>
          </div>
          <div class="col-md6">
            <button>Order now</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <p class="card-text"> No offers available</p>
    </ng-template>
  </div>
</div>
